nav.navbar.navbar-expand-lg.navigation.navbar-light
    a.navbar-brand Football
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse(id="navbarNavDropdown")
        ul.navbar-nav
            li.nav-item.active
                a(href="/players").nav-link Hráči
